{% extends 'template_base.html' %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center vh-50" style="height: 50vh; margin-top: 1vh;">
    <div class="text-center col-md-6">
        <h4 class="display-4">
            <span style="color: rgb(247, 11, 51);font-family: 'Paytone One', sans-serif;">Hola,</span>  
            <span style="color: rgb(247, 115, 7);font-family: 'Paytone One', sans-serif;"> Bienvenidx!</span> 
        </h4>
        <p class="mt-4" style="color: rgb(36,35,35);font-family: 'Poppins', sans-serif;">
            ¡Utilizá nuestra plataforma de gestión! Este sistema está diseñado para ayudarte a administrar de manera eficiente y efectiva el inventario de dispositivos móviles y accesorios de la empresa.
        </p>
    </div>
</div>
{% endblock %}
